<html>
<head>
<style>
.container {
        max-width: 800px; 
        margin: auto; 
        font-family: verdana;
      }
      body{
	   border: 4px solid white;
  padding: 25px;
        background-image: url("https://cgantes.github.io/Gantes_WebDev_Midterm/img/calendar.png") 
		
      }

      .month {
        text-allign: center;
        background-color: #87303c;
        letter-spacing: 5px; 
        padding: 1px; 
      }
      table, th, td {
        width: 100%; 
        table-layout:fixed; 
        text-allign: center; 
        font-size: 17px; 
        border-collapse: collapse; 
        color:white;
      }
      tr, td {
        padding: 10px;
      }
      /background calendar color/
      td {
        background: #0f1923;
      }
h1{
  text-align: center;
   background-color: #87303c;
        color: white; 
        padding: 4px; 
}
td:hover {
  background-color:gray;
   transition: transform .2s; 
  margin: 0 auto;
  transform: scale(1.3);
}


</style>
</head>
<body>
